* {
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 3em;
}

form {
    width: 40%;
    padding: 1em;
}

form > input {
    width: 100%;
    padding: 1em;
    font-size: 1em;
    margin-bottom: 1.5em;
}

form > input:focus {
    border: 1px solid orange;
    outline: none;
}

.btn {
        width: 100%;
        padding: 1em;
        background-color: orange;
        color: white;
        border: none;
        cursor: pointer;
        font-weight: bold;
        font-size: .9em;
    }