main {
    padding: 2em;
    width: 70%;
    margin: 0 auto;
}

.product-wrapper {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2em;
}

.product-wrapper > li {
    width: 300px;
    border: 1px rgba(255, 166, 0, 0.479) solid;
}

.product-wrapper > li > img {
    width: 100%;
}

.product-detail-wrapper {
    padding: 1em;
}

.product-detail-wrapper > h2 {
    margin: 0 0 .4em 0;
}

.product-detail-wrapper > p {
    margin: 0 0 2em 0
}

.btn {
    width: 100%;
    padding: 1em;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: .9em;
}

.btn:first-of-type {
    margin-bottom: 1em;
}

.btn.anchor {
    display: block;
    text-decoration: none;
    text-align: center;
}

a.btn {
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
    text-align: center;
}